*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #007bff;
  --secondary-color: #ff5722;
  --dark-primary-color:#0f355f;
  --dark-secondary-color:rgb(164, 58, 9);
  --light-color: #e9e9e9;
  --dark-color: #2c2c2c;
}
.page-inner-content{
  max-width: 1200px;
  margin-inline:  auto;
  padding-inline: 1rem;
}
body{
  font-family: "Ubuntu", sans-serif;
  color: var(--dark-color);
  
}

* {
  text-decoration: none;
  color: unset;
}